<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mvcwebpages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mvcwebpages.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
		<title>mkpits</title>
		<style>
			a {
				text-decoration: none;
			}

			.bg {
				background-image: url('1234.jfif');
				background-size: cover;
				background-repeat: no-repeat;
				height: 100%;
				width: 100%;
			}
		</style>
		</head>

		<body>
			<table width=100% border=0>
				<tr>
					<td width=40% style="padding-left:50px;padding-top:10px;">
						<img src="MKPITS_Logo.png" width=100 height=100 />
					</td>
					<td width=60% style="text-align:center;font-size:18px;word-spacing:20px;">
						<a href="homepage.html">Home </a>
						<a href="aboutus.html">About </a>
						<a href="course.html">Courses </a>
						<a href="admission.html">Admission </a>
						<a href="jobplacement.html">Job Placement </a>
						<a href="contact.html">Contact </a>
					</td>
				</tr>
			</table>


			<div class="bg" style="height:350">
				<h1 style="color:white;padding-left:50px;padding-top:50px;font-size:48px;">
					Learning Today,<br>
					Leading Tomorrow
				</h1>
				<h1 style="color:white;padding-left:50px;font-size:24px;">We are a team of highly experienced people helping freshers to secure job in IT.</h1>

				<button style="margin-left:50px;padding:10px;font-size:20px;border-radius:30px;">Get Started</button>
			</div>

			<div style="width:100%;float:left;background-color:#D5FEEA;">
				<div style="width:47%;float:left;padding:10px;">
					<h1>WELCOME TO MKP IT SERVICES</h1>
					<h3>
						MKP IT Services is a leading training, job and staffing services provider in Nagpur. We have over a decade of presence now. Previously we were known as MK Placements and Education Services We also provide services in Pune, Hyderabad, Bangalore, Mumbai, Indore, Bhopal and more cities. Our valuable services are:
						<ul>
							<li>
								Training and Internship: We conduct high end training and provide intership program to freshers to strengthen them with corporate required skills
							</li>
							<li>
								Campus Placement Services: We conduct placements services for freshers, skilled and semi-skilled candidates
							</li>
						</ul>

					</h3>
				</div>

				<div style="width:47%;float:left;padding:20px;">
					<center><img src="download1.jfif" height=250px width=550px />  </center>

				</div>
			</div>

			<table width=100% align=center style="background-color:silver;margin-top:25%;padding:30px;">
				<tr>
					<th>
						<h1>10321</h1>
						Students Placed
					</th>
					<th>
						<h1>9</h1>
						Years of service
					</th>
					<th>
						<h1>42</h1>
						Events Conducted
					</th>
					<th>
						<h1>32</h1>
						Clients Tieup
					</th>
				</tr>
			</table>
			<div style="width:95%;float:left;margin:5%;">
				<div style="width:22%;float:left;background-color:green;color:white;padding:40px;">
					<h1>Why Choose MKP IT Services?</h1>

					<p>
						We have a rich experience in training and placement with specialization in IT. We are backed by the industry experienced professional. We provide intership with 100% job guarantee with easy 0% EMI options. We provide lifetime membership where candidates can get free upgrade on the courses for lifetime. We have tie-up with reputed engineering colleges in Maharashtra, Chattisgarh, Madhya Pradesh for placement activities.
					</p>
					<button style="margin-left:50px;padding:10px;font-size:20px;border-radius:30px;">Learn more..</button>
				</div>

				<div style="width:16%;float:left;color:black;padding:40px;">
					<center>
						<img src="2991112.png" width=100 style="border-radius:70%;" />
						<h2>Training and Placement</h2>
						<p>
							IT Intership with 100% job guarantee on easy 100% finance scheme with 0% interest EMI
						</p>
					</center>
				</div>


				<div style="width:16%;float:left;color:black;padding:40px;">
					<center>
						<img src="2993655.png" width=100 style="border-radius:50%;" />
						<h2>Admission Consultancy</h2>
						<p>
							IT Intership with 100% job guarantee on easy 100% finance scheme with 0% interest EMI
						</p>
					</center>
				</div>

				<div style="width:16%;float:left;color:black;padding:40px;">
					<center>
						<img src="3342137.png" width=100 style="border-radius:70%;" />
						<h2>Software development</h2>
						<p>
							IT Intership with 100% job guarantee on easy 100% finance scheme with 0% interest EMI
						</p>
					</center>
				</div>

			</div>

			<div style="padding:50px;">
				<h1>
					<span style="font-size:20px;color:silver">TESTIMONIALS ------------- </span><br>
					WHAT ARE THEY SAYING
				</h1>
			</div>


        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">mvcwebpages</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - mvcwebpages - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
