@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@model helperex1.Models.usermodel
@using(Html.BeginForm("Index","Home",FormMethod.Post))
{
    <b>Name</b>
   // @Html.TextBox("Name","Enter name",new{style="color:red"})
    //@Html.TextBoxFor(m=>m.Name,new{style="color:red;"})
    @Html.TextBoxFor(m=>m.Name,new {@value="enter name",@class="red"})
    <br/><br/>
    <input type="submit" value="ok">
}
<style>
    .red{color:red;}
</style>
<hr/>
<h1>user details</h1>
Name:@ViewBag.username
@*Name:@ViewBag.password*@

