@{
    ViewData["Title"] = "Home Page";
}

@model helperextextbox.Models.UserModel
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <b>Want Additional Benefit: </b>
    <br />
    <span>Tea: </span> @Html.CheckBoxFor(m => m.Tea, true)
    <span>  Loundry: </span> @Html.CheckBoxFor(m => m.Loundry, false)
    <span>  Breakfast: </span> @Html.CheckBoxFor(m => m.Breakfast, false)
    <br />
    

    <br />
    <input type="submit" value="ok" />
    
}

<br />
Tea:@ViewBag.Tea
<br />
Loundry:@ViewBag.Loundry
<br />
Breakfast:@ViewBag.Breakfast
